@import "sass/layout/global";
@import "sass/variables/color";

//tests
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(155, 19, 19);

}