@import "sass/layout/global";
@import "sass/variables/color";

//tests
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: row-reverse;
    transform: translate(120px, 50%);

}