<!DOCTYPE html>
html(lang="en")
  head
    title web develop Starter
    meta(content="Web Develop starter template" name="description")
    link(rel="stylesheet" href='./assets/css/main.css')
  body
    .content
      block awesome-content